<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}"/>
    <title>
        {% block title %}Novo Post{% endblock %}
    </title>
</head>

<header>
    <img src="{% static "forum/images/logo_branco.png" %}"  id="logo">
    <img src="{% static "forum/images/user.png" %}"  style="cursor:pointer;" id="user" >
</header>

<body>
<fieldset id = "new_post">
    <legend style="font-size : 200%"><strong>Publicar post</strong></legend>
    <form method="POST" action="{% url 'post:new_post' topic.id %}">
        {% csrf_token %}

        {% if msg_erro %}
            <p>{{ msg_erro }}</p>
        {% endif %}

        <input type="text" id="title" name="title" placeholder="Title" autofocus><br><br>

        <input type="text" id="content" name="content" placeholder="Content" autofocus><br><br>

        <br>
        <input type="submit" value="Publicar" id = "botao_comentario">
    </form>
</fieldset>
</body>

<footer>
    &copy; 2023 DIAM - ISCTE
    <br>Todos os direitos reservados.
</footer>
</html>
